@model WindysLanding.Models.VolunteerApplication

@{
    ViewData["Title"] = "Volunteer Application Details";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

        <div class="text-center mb-4">
            <h1>Volunteer Application</h1>
            <h4 class="text-muted">Application Details</h4>
        </div>

        <div class="card">
            <div class="card-body">

                <dl class="row">

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.VolunteerDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.VolunteerDescription)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ApplicationDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ApplicationDate)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.WaiverSigned)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.WaiverSigned)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.WaiverSignedDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.WaiverSignedDate)
                    </dd>

                </dl>

            </div>

            <div class="card-footer text-center">

                @* TODO: Restrict Edit/Delete actions to Admin role *@
                @* Example later: if (User.IsInRole("Admin")) *@

                <a asp-action="Edit"
                   asp-route-id="@Model?.ApplicationId"
                   class="btn btn-primary">
                    Edit Application
                </a>

                <a asp-action="Delete"
                   asp-route-id="@Model?.ApplicationId"
                   class="btn btn-danger">
                    Delete Application
                </a>

                <a asp-action="Index"
                   class="btn btn-outline-secondary">
                    Back to Applications
                </a>

            </div>

        </div>

    </div>
</div>